lbt-dragonfly==0.7.351
ladybug-rhino==1.29.10
lbt-recipes==0.15.1
honeybee-standards==2.0.3
honeybee-energy-standards==2.1.4
ladybug-grasshopper-dotnet==1.0.1
pytest==6.2.4
pytest-cov==2.12.1
twine==3.4.1
wheel==0.36.2
setuptools==57.1.0
importlib-metadata==4.6.1
